/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
.env
storage/fonts/*
bootstrap/*
composer.lock
composer.phar
appointment.sql
public/appointment.sql
public/temp/*
