/node_modules
/vendor
/.env
/.env.local
/storage/*.key
/storage/logs/*.log
/public/hot
/public/storage
/public/build
/bootstrap/cache/*.php
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
appointment.sql
public/appointment.sql
public/temp/*
public/images/* # KEEP THIS if these are user uploads
storage/fonts/*
.DS_Store
