/node_modules
/storage/app/google-calendar/*.json
/storage/*
/public/hot
/public/storage
/images/*
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor/*
.env
storage/*
storage/fonts/*
bootstrap/*
